// Add any font imports or definitions here
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local("IRANSans UltraLight"),
    url("./fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
    url("./fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff") format("woff"),
    url("./fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("IRANSans Light"),
    url("./fonts/IRANSans/woff2/IRANSansWeb_Light.woff2") format("woff2"),
    url("./fonts/IRANSans/woff/IRANSansWeb_Light.woff") format("woff"),
    url("./fonts/IRANSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("IRANSans Regular"),
    url("./fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("./fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"),
    url("./fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("IRANSans Medium"),
    url("./fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("./fonts/IRANSans/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("./fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: local("IRANSans Bold"),
    url("./fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
    url("./fonts/IRANSans/woff/IRANSansWeb_Bold.woff") format("woff"),
    url("./fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("IRANSans Black"),
    url("./fonts/IRANSans/woff2/IRANSansWeb_Black.woff2") format("woff2"),
    url("./fonts/IRANSans/woff/IRANSansWeb_Black.woff") format("woff"),
    url("./fonts/IRANSans/ttf/IRANSansWeb_Black.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local("Noto Sans Arabic Thin"),
    url("./fonts/NotoSansArabic/NotoSansArabic-Thin.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local("Noto Sans Arabic ExtraLight"),
    url("./fonts/NotoSansArabic/NotoSansArabic-ExtraLight.ttf")
      format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Noto Sans Arabic Light"),
    url("./fonts/NotoSansArabic/NotoSansArabic-Light.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Noto Sans Arabic Regular"),
    url("./fonts/NotoSansArabic/NotoSansArabic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Noto Sans Arabic Medium"),
    url("./fonts/NotoSansArabic/NotoSansArabic-Medium.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Noto Sans Arabic SemiBold"),
    url("./fonts/NotoSansArabic/NotoSansArabic-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Noto Sans Arabic Bold"),
    url("./fonts/NotoSansArabic/NotoSansArabic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local("Noto Sans Arabic ExtraBold"),
    url("./fonts/NotoSansArabic/NotoSansArabic-ExtraBold.ttf")
      format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Noto Sans Arabic Black"),
    url("./fonts/NotoSansArabic/NotoSansArabic-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local("Inter UltraLight"),
    url("./fonts/Inter/ttf/Inter-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Inter Light"),
    url("./fonts/Inter/ttf/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Inter Regular"),
    url("./fonts/Inter/ttf/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Inter Medium"),
    url("./fonts/Inter/ttf/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: local("Inter Bold"),
    url("./fonts/Inter/ttf/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Inter Black"),
    url("./fonts/Inter/ttf/Inter-Black.ttf") format("truetype");
}
